:root {
  --color-dark: #000000;
  --color-dark-opacity: rgba(0, 0, 0, 0.4);
  --color--text: #333333;
  --color--text--1: #FFFFFF;
  --color--main--1: #9D5CD0;
  --color--main--2: #C283F3;
  --color--main--3: #D1A9F0;
  --color--main--4: #7943A4;
  --font-size--18px: 1.12rem;
  --font-size--12px: .75rem;
  --font-size--24px: 1.5rem;
}
*,
*::before,
*::after {
  /* caret-color: transparent; */
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var( --color--main--4);
  /* outline-offset: 5px; */
}
*:active {
  outline: none;
}
html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 32px;
}
p, h2, h3, h4, h5 {
  color: var(--color--text);
  caret-color: transparent;
}
h2 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 65px;
  caret-color: transparent;
}
a {
  text-decoration: none;
  color: var(--color--main--1);
  caret-color: transparent;
  transition-property: color, border, border-color, border-bottom-color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
a:hover {
  border-bottom: 1px solid var(--color--main--1);
  color: var(--color--main--2);
  caret-color: transparent;
}
a:active {
  color: var(--color--main--4);
  border-bottom: 1px solid var(--color--main--4);
}

.btn,
.header-category__choices-btn,
.search__icon,
.gallery-swiper-button,
.catalog-header__btn,
.accordeon__icon,
.catalog-accordeon-choices__item-btn,
.editions-swiper-button,
.projects-swiper__button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
.header-head-nav__list,
.header-category__list,
.gallery-filter-select__body,
.catalog-header__lang-list,
.catalog-accordeon-choices__list,
.events__place-infio,
.editions-filter,
.swiper-wrapper,
.contacts-info-socials,
.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tooltip_icon {
  display: inline-flex;
  position: relative;
  width: 17px;
  height: 17px;
  align-items: center;
  justify-content: center;
  top: 3px;
  left: -1px;
  cursor: pointer;
  caret-color: transparent;
}
.tooltip_icon::before,
.tooltip_icon::after {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
}
.tooltip_icon::before {
  content: '';
  border: 1px solid var(--color--main--1);
  border-radius: 100%;
}
.tooltip_icon::after {
  content: 'i';
  bottom: 45%;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: var(--color--main--1);
}
.tooltip_icon:hover::before {
  background-color: var(--color--main--1);
  border-radius: 100%;
}
.tooltip_icon:hover::after {
  color: var(--color--text--1);
}
.tooltip__text {
  display: none;
  position: absolute;
  padding: .55rem;
  right: -120px;
  bottom: 32px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size--12px);
  line-height: 1rem;
  white-space: pre;
  background-color: #CACACA;
  color: var(--color--text--1);
}
.tooltip_icon:hover > .tooltip__text {
  display: inline-flex;
}
.tooltip__text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -15px;
  border-top: 8px solid #CACACA;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltip_icon:nth-child(3) .tooltip__text {
  right: -104px;
}
.btn {
  border: 2px solid var(--color--main--1);
  border-radius: 100px;
  transition-property: background-color, border-color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.btn:hover {
  background-color: var(--color--main--1);
  color: var(--color--text--1);
}
.btn:active {
  border: 2px solid var(--color--main--3);
  background-color: var(--color--main--4);
}
.icon--tringle {
  position: relative;
  display: inline-flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  color: transparent;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.icon--tringle::before,
.icon--tringle::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  transition-property: background-color, border-color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.icon--tringle::before {
  height: 8px;
  width: 8px;
  z-index: 2;
}
.icon--tringle::after {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.container {
  max-width: 1606px;
  padding-left: 3px;
  margin: auto;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header-head {
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);
}
.header-head-nav {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.logo {
  width: 173px;
  height: 40px;
}
.header-head-nav__logo {
  margin-right: 11.2%;
  padding-top: 7px;
}
.header-head-nav__logo:hover {
 border: none;
}
.header-head-nav__wrap   {
  width: 100%;
  padding-bottom: 5px;
}
.header-head-nav__list {
  display: flex;
  padding-top: 2px;
}
.header-head-nav__item:not(:last-child) {
  margin-right: 5.35%;
}
.header-head-nav__link,
.header-head-nav__link svg,
.header-head-nav__link svg path,
.header-category__choices-btn {
  transition-property: fill, color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.header-head-nav__link svg {
  margin-right: 5px;
}
.header-head-nav__link {
  font-weight: 600;
  font-size: var(--font-size--18px);
  white-space: nowrap;
  color: var(--color--text--1);
}
.header-head__login {
  padding-bottom: 5px;
  font-weight: 500;
}
.header-head-nav__link:-moz-focusring  {
  outline: 2px solid var(--color--main--4);
  outline-offset: 5px;
}

.header-head-nav__link:hover {
  color: var(--color--main--2);
  border-bottom: none;
}
/* .header-head-nav__link:hover,  */
.header-head-nav__link:hover svg path{
  fill: var(--color--main--2);
}
.header-head-nav__link:active {
  color: var(--color--main--4);
  border-bottom: none;
}
.header-head-nav .header-search-form {
  display: none;
}
.header-category {
  background-color: var(--color-dark-opacity);
}
.header-category__wraper {
  position: relative;
  display: flex;
  align-items: center;
}
.header-category__list {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
}
.header-category__genre {
  position: relative;
  padding-top: 2px;
}
.header-category__genre:not(:last-child) {
  margin-right: 7.35%;
}
.header-category__genre:hover .header-category-choices {
  visibility: visible;
  display: block;
  transform: translateY(0px);
  opacity: 1;
  pointer-events: visible;
}
.header-category__choices-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color--text--1);
  font-size: var(--font-size--18px);
}
.header-category__choices-btn::after {
  content: '';
  display: none;
  position: absolute;
  height: 40px;
  width: 110%;
  left: 0;
  right: 0;
  top: 15px;
}
.header-category__choices-btn:hover::after {
  display: inline-block;
}
.header-category__genre:hover .header-category__choices-btn,
.header-category__choices-btn:hover {
  color: var(--color--main--1);
}
.select__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  transform: translateY(-1px);
}
.select__icon::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-left: 1px solid var(--color--text--1);
  border-bottom: 1px solid var(--color--text--1);
  transform: rotate(-45deg);
  transition: transform 0.1s ease-in-out;
}
.header-category__genre:hover .header-category__choices-btn .select__icon::after,
.header-category__choices-btn:hover .select__icon::after {
  border-left: 1px solid var(--color--main--1);
  border-bottom: 1px solid var(--color--main--1);
  transform: rotate(135deg) translate(2px, -2px);
}
.header-category__choices-btn:-moz-focusring {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}
.header-category__choices-btn:active {
  outline: none;
}
.header-category-choices,
.header-category-choices__list {
  transition-property: transform, opacity, visibility;
  transition-duration:  0.3s;
  transition-timing-function:  ease-in-out;
}
.header-category-choices {
  visibility: hidden;
  position: absolute;
  height: 300px;
  width: 300px;
	left: 0;
	right: 0;
  top: 52px;
  padding-top: 38px;
  overflow: hidden;
  opacity: 0;
  background-color: var(--color-dark-opacity);
}
.header-category-choices__list {
  width: 74%;
  max-height: 240px;
	left: 0;
	right: 0;
  margin: auto;
  padding: 0;
  visibility: hidden;
  position: absolute;
  transform: translateY(-300px);
}

.header-category-choices--active,
.header-category-choices--active .header-category-choices__list {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.header-category__genre:hover .header-category-choices .header-category-choices__list {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.header-category-choices__item {
  height: 40px;
  overflow: hidden;
  display: flex;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-dark-opacity);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
	line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color--text--1);
  cursor: pointer;
}
.header-category-choices__item:not(:last-child) {
  margin-bottom: 20px;
}
.header-category-choices__item:nth-child(1n) {
  background-image: url(/img/hero-slide-1.jpg);
}
.header-category-choices__item:nth-child(2n) {
  background-image: url(/img/gallery/Rectangle24.jpg);
}
.header-category-choices__item:nth-child(3n) {
  background-image: url(/img/gallery/Rectangle31.jpg);
}
.header-category-choices__item:nth-child(4n) {
  background-image: url(/img/gallery/Rectangle27.jpg);
}
.header-category-choices__item > div {
  height: 100%;
  width: 100%;
  padding: 9px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--color-dark-opacity);
}
.header-category-choices__item:active > div {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header-category-choices__item:hover {
  border: 2px solid var(--color--main--1);
}
.header-category-choices__item:active {
  border: 2px solid var(--color--main--3);
}
.simplebar-track {
  right: -20px;
  padding: 0;
  background-color:var(--color-dark);
}
.simplebar-track.simplebar-vertical {
  width: 2px;
}
.simplebar-scrollbar::before {
  width: 100%;
  background-color: var(--color--main--1);
  border-radius: 0px;
}
.header-search-form {
  width: 250px;
  right: 6px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.search__icon {
  padding-top: 9px;
  margin-right: 9px;
}

.search__icon:hover svg,
.search__icon:hover svg rect,
.search__icon:hover svg path {
  fill: var(--color--main--1);
  transition-property: fill;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.header-search-form__input-wrap {
  padding-top: 6px;
  position: relative;
  display: inline-flex;
  height: 22px;
  width: 100%;
  cursor: pointer;
}
.header-search-form__input {
  width: 239px;
  height: 25px;
  padding: 0;
  /* padding-top: 28px; */
  border-top: none;
  border-left: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  border-right: none;
  background: transparent;
  color: var(--color--text--1);
  outline: none;
  cursor: pointer;
  caret-color: var(--color--main--1);
}
.header-search-form__input::-moz-placeholder,
.header-search-form__input::placeholder {
  font-size: var(--font-size--18px);
  color: var(--color--text--1);
  opacity: 1;
}
.header-search-form__input:focus::-moz-placeholder,
.header-search-form__input:focus::placeholder {
  opacity: 0;
}
.header-search-form__input:focus + .search__icon svg,
.header-search-form__input:-moz-focusring + .search__icon svg,
.header-search-form__input:focus + .search__icon svg rect,
.header-search-form__input:-moz-focusring + .search__icon svg rect
.header-search-form__input:focus + .search__icon svg path,
.header-search-form__input:-moz-focusring + .search__icon svg path {
  fill: var(--color--main--2);
}
.header-search-form__input:focus + span::after,
.header-search-form__input:-moz-focusring  + span::after {
  border: 1px solid var(--color--main--2);
}
.header-search-form__input:active {
  border-bottom: 1px solid var(--color--main--2);
}
.hero {
  height: 797px;
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}
.hero__bacground--animation {
  height: 100%;
  width: 100vw;
  position: absolute;
  animation-name: hero-swiper-scale;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero__img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  animation-duration: 21s;
  animation-iteration-count: infinite;
}
.hero__slide-1 {
  background-image: url(/img/hero-slide-1.jpg);
  animation-name: hero-swiper-slide-1;
  z-index: 3;
}
.hero__slide-2 {
  background-image: url(/img/hero-slide-2.jpg);
  animation-name: hero-swiper-slide-2;
  z-index: 2;
}
.hero__slide-3 {
  background-image: url(/img/hero-slide-3.jpg);
  animation-name: hero-swiper-slide-3;
  z-index: 1;
}
@keyframes hero-swiper-scale {
  0% {
    transform: scale(1);
  }
  5%{
    transform: scale(1);
  }
  95% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes hero-swiper-slide-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 0;
  }
  94.7% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hero-swiper-slide-2 {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
  }
  45.8% {
  }
  58.3% {
    opacity: 1;
  }
  66.6% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hero-swiper-slide-3 {
  0% {
    opacity: 1;
  }
  61.3% {
    opacity: 1;
  }
  66.6% {
    opacity: 1;
  }
  79.1% {
  }
  100% {
    opacity: 1;
  }
}
.hero__wrap {
  height: 100%;
  position: relative;
}
.hero__text-action {
  width: 580px;
  padding-top: 239px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 1.11rem;
  left: -5px;
  position: relative;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 5.18rem;
  color: var(--color--text--1);
}
.hero__text {
  margin-bottom: 112px;
  font-weight: bold;
  font-size: var(--font-size--18px);
  line-height: 30px;
  color: var(--color--text--1);
}
.hero__action-link {
  padding: 19px 33px;
  font-weight: bold;
  font-size: var(--font-size--18px);
  line-height: 25px;
  text-align: center;
  color: var(--color--text--1);
  background-color: var(--color--main--1);
  border: 3px solid var(--color--main--1);
}
.hero__action-link:hover {
  border: 3px solid var(--color--main--3);
}
.hero__action-link:focus {
  outline: none;
  border: 3px solid var(--color--main--4);
}
.hero__action-link:active {
  background-color: var(--color--main--4);
  border: 3px solid var(--color--main--3);
  color: var(--color--text--1);
}
.about-us__wrap {
  margin-bottom: 70px;
}
.about-us {
  width: 67.5%;
}
.about-us__title {
  margin-bottom: 16px;
  left: -3px;
  position: relative;
}
.gallery__wrap {
  width: 100%;
  height: 995px;
  margin-bottom: 80px;
  background-image: url(/img/gallery-backround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.gallery {
  height: 98.45%;
  padding-top: 80px;
  display: flex;
  min-width: 0;
}
.gallery-filter {
  height: 100%;
  width: 34.7%;
  max-width: 400px;
  margin-right: 32px;
}
.gallery-filter__title {
  margin-top: 0px;
  margin-bottom: 16px;
  left: -3px;
  position: relative;
  color: var(--color--text--1);
}
.gallery-filter__filter-wrap {
  position: relative;
  width: 100%;
  height: 95.7%;
}
.gallery-filter__subtitle {
  display: inline-block;
  font-weight: 600;
  color: var(--color--text--1);
  margin-bottom: 10px;
}
.gallery-filter-select {
  width: 100%;
	margin: 0 0;
	position: relative;
}
.gallery-filter-select.is-active .gallery-filter-select__body {
  margin: 0;
  display: block;
}
.gallery-filter-select__head {
  position: relative;
  box-sizing: border-box;
  height: 40px;
	display: flex;
  background-color: transparent;
  border: 1px solid var(--color--text--1);
  border-radius: 6px;
  z-index: 5;
  cursor: pointer;
}
.gallery-filter-select.is-active .gallery-filter-select__head {
  border: 1px solid var(--color--text--1);
}
.gallery-filter-select__current {
  display: inline-block;
  position: absolute;
  padding: 0 14px;
  bottom: 4px;
  color: var(--color--text--1);
}
.gallery-filter-select__icon {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 16px;
}
.gallery-filter-select__icon::before {
  content: '';
  display: inline-block;
	height: 8px;
  width: 8px;
  border-left: 1px solid var(--color--text--1);
  border-bottom: 1px solid var(--color--text--1);
  transform: rotate(-45deg);
  transition: transform 0.1s ease-in-out;
}

.gallery-filter-select.is-active .gallery-filter-select__icon::before {
  border-left: 1px solid var(--color--text--1);
  border-bottom: 1px solid var(--color--text--1);
  transform: rotate(135deg);
}

.gallery-filter-select__body {
  display: none;
  position: absolute;
	left: 0;
	right: 0;
  top: 43px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 6px;
  border-top: 0;
}
.gallery-filter-select__item {
	cursor: pointer;
	line-height: 24px;
  padding: 8px;
  color: #999999;
}
.gallery-filter-select__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}
.gallery-filter-select__text-info {
  position: absolute;
  width: 350px;
  bottom: 0;
  font-weight: 600;
  color: var(--color--text--1);
}
.gallery-swiper {
  padding-top: 1.12rem;
  /* padding-left: 1.12rem; */
  width: 100%;
}
.gallery-swiper-pgination__wrap {
  padding-left: 21px;
}
.gallery-swiper-button {
  margin-right: 14px;
  top: 7px;
}
.editions-swiper-button.swiper-button-disabled,
.gallery-swiper-button.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.gallery-swiper-button:focus {
  outline: none;
}
.gallery-swiper-button::before {
  border-bottom: 1px solid var(--color--text--1);
  border-left: 1px solid var(--color--text--1);
}
.gallery-swiper-button::after {
  background-color:#666666;
  border: 2px solid#666666;
}
.gallery-swiper-button:focus::after {
  border: 2px solid var(--color--main--4);
}
.gallery-swiper-button:hover::after {
  background-color: var(--color--main--1);
  border: 2px solid var(--color--main--1);
}
.gallery-swiper-button:active::after {
  background-color: var(--color--main--4);
  border: 2px solid var(--color--main--3);
}
.gallery-swiper-button-prev::before {
  left: 45%;
  transform: rotate(45deg);
}
.gallery-swiper-button-next::before {
  right: 40%;
  transform: rotate(-135deg);
}
.gallery-swiper-pagination {
  margin-right: 16px;
  color: var(--color--text--1);
}

.swiper-wrapper {
  position: relative;
}
.gallery-swiper .swiper-wrapper {
  padding-top: 1.68rem;
}
.gallery-swiper__img {
  max-width: 350px;
  height: 350px;
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.gallery-swiper__img-1 {
  background-image: url(/img/gallery/Rectangle1.jpg);
}
.gallery-swiper__img-2 {
  background-image: url(/img/gallery/Rectangle2.jpg);
}
.gallery-swiper__img-3 {
  background-image: url(/img/gallery/Rectangle3.jpg);
}
.gallery-swiper__img-4 {
  background-image: url(/img/gallery/Rectangle4.jpg);
}
.gallery-swiper__img-5 {
  background-image: url(/img/gallery/Rectangle5.jpg);
}
.gallery-swiper__img-6 {
  background-image: url(/img/gallery/Rectangle6.jpg);
}
.gallery-swiper__img-7 {
  background-image: url(/img/gallery/Rectangle7.jpg);
}
.gallery-swiper__img-8 {
  background-image: url(/img/gallery/Rectangle8.jpg);
}
.gallery-swiper__img-9 {
  background-image: url(/img/gallery/Rectangle9.jpg);
}
.gallery-swiper__img-10 {
  background-image: url(/img/gallery/Rectangle10.jpg);
}
.gallery-swiper__img-11 {
  background-image: url(/img/gallery/Rectangle11.jpg);
}
.gallery-swiper__img-12 {
  background-image: url(/img/gallery/Rectangle12.jpg);
}
.gallery-swiper__img-13 {
  background-image: url(/img/gallery/Rectangle13.jpg);
}
.gallery-swiper__img-14 {
  background-image: url(/img/gallery/Rectangle14.jpg);
}
.gallery-swiper__img-15 {
  background-image: url(/img/gallery/Rectangle15.jpg);
}
.gallery-swiper__img-16 {
  background-image: url(/img/gallery/Rectangle16.jpg);
}
.gallery-swiper__img-17 {
  background-image: url(/img/gallery/Rectangle17.jpg);
}
.gallery-swiper__img-18 {
  background-image: url(/img/gallery/Rectangle18.jpg);
}
.gallery-swiper__img-19 {
  background-image: url(/img/gallery/Rectangle20.jpg);
}
.gallery-swiper__img-20 {
  background-image: url(/img/gallery/Rectangle21.jpg);
}
.gallery-swiper__img-21 {
  background-image: url(/img/gallery/Rectangle22.jpg);
}
.gallery-swiper__img-22 {
  background-image: url(/img/gallery/Rectangle23.jpg);
}
.gallery-swiper__img-23 {
  background-image: url(/img/gallery/Rectangle24.jpg);
}
.gallery-swiper__img-24 {
  background-image: url(/img/gallery/Rectangle25.jpg);
}
.gallery-swiper__img-25 {
  background-image: url(/img/gallery/Rectangle26.jpg);
}
.gallery-swiper__img-26 {
  background-image: url(/img/gallery/Rectangle27.jpg);
}
.gallery-swiper__img-27 {
  background-image: url(/img/gallery/Rectangle28.jpg);
}
.gallery-swiper__img-28 {
  background-image: url(/img/gallery/Rectangle29.jpg);
}
.gallery-swiper__img-29 {
  background-image: url(/img/gallery/Rectangle30.jpg);
}
.gallery-swiper__img-30 {
  background-image: url(/img/gallery/Rectangle31.jpg);
}
.gallery-swiper__hover-icon {
  height: 86%;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.gallery-swiper__img:hover .gallery-swiper__hover-icon {
  height: 86%;
  width: 86%;
  background-color: var(--color-dark-opacity);
  opacity: 1;
}
.gallery-swiper__hover-icon + svg {
  width: 98%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.gallery-swiper__hover-icon,
.gallery-swiper__hover-icon + svg {
  transition-property: background-color, opacity, visibility;
  transition-duration:  0.3s;
  transition-timing-function:  ease-in-out;
}
.gallery-swiper__img:hover .gallery-swiper__hover-icon + svg {
  visibility: visible;
  opacity: 1;
}
.catalog {
  margin-bottom: 5rem;
}
.catalog-header {
  display: flex;
  position: relative;
  margin-bottom: .12rem;
  left: -2px;
}
.catalog-header__title {
  margin-top: 0px;
  margin-right: 1.66%;
  margin-bottom: 0px;
}
.catalog-header__lang-list {
  display: flex;
  padding-top: .18rem;
  align-content: center;
}
.catalog-header__item {
  padding: 5px;
}
.catalog-header__item:not(:last-child) {
  margin-right: 1.26rem;
}
.catalog-header__btn {
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  transform: translateY(-5px);
  -webkit-transition: filter 0.3s ease-in-out;
  -moz-transition: filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}
.catalog-header__btn--active {
  width: 66px;
  height: 66px;
  border: 2px solid var(--color--main--1);
}
.catalog-header__btn:focus {
  outline: none;
  border: 2px solid var(--color--main--1);
}
.catalog-header__btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}
.catalog-header__btn:active {
  border: 2px solid var(--color--main--1);
  border-radius: 100%;
}
.catalog-header__btn--fr {
  background-image: url(/img/catalog/fr.png);
}
.catalog-header__btn--ge {
  background-image: url(/img/catalog/ge.png);
}
.catalog-header__btn--it {
  background-image: url(/img/catalog/it.png);
}
.catalog-header__btn--ru {
  background-image: url(/img/catalog/ru.png);
}
.catalog-header__btn--be {
  background-image: url(/img/catalog/be.png);
}

.catalog-header__text-info {
  width: 67.5%;
  margin-top: 0px;
  margin-bottom: 39px;
}
.catalog-content__wrap {
  display: flex;
}
.catalog-content {
  width: 50%;
  max-width: 750px;
  margin-right: 50px;
}
.catalog-content-author {
  width: 100%;
  display: none;
}
.catalog-content-author > img {
  width: 100%;
  margin-bottom: 21px;
}
.catalog-accordeon-choices__item--active {
  display: block;

}
.catalog-accordion {
  width: 50%;
  position: relative;
}
#accordion > .catalog-accordeon__summary {
  margin: 0 0 0 0;
  padding: 2.38rem 0px 2.69rem 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: var(--font-size--24px);
  line-height: 2rem;
  max-width: 100%;
}
.ui-accordion-header {
  border: none;
}
.ui-accordion-header,
.ui-accordion-header:first-child {
  background-color: transparent;
  border-top: 1px solid #CACACA;
}
.ui-accordion-header-active {
  background-color: transparent;
  color: var(--color--text);
  border: none;
}
.ui-accordion-content-active {
  border: none;
}
.ui-accordion-content-active,
.ui-accordion-header-active {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid var(--color--main--1);
}
.accordeon__icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: calc((100% - 47px) / 2);
  right: 0%;

}
.accordeon__icon:focus {
  outline: none;
}
.accordeon__icon::before {
  height: 12px;
  width: 12px;
  position: absolute;
  border-bottom: 1px solid var(--color-dark);
  border-left: 1px solid var(--color-dark);
  transform: rotate(-45deg) translate(2px, -2px);
}
.accordeon__icon::after {
  background-color:#ECECEC;
  border: 2px solid#ECECEC;
}
.accordeon__icon:focus::after {
  border: 2px solid var(--color--main--4);
}
.accordeon__icon:hover::after {
  background-color: var(--color--main--1);
  border: 2px solid var(--color--main--1);
}
.accordeon__icon:hover::before {
  border-bottom: 1px solid var(--color--text--1);
  border-left: 1px solid var(--color--text--1);
}
.accordeon__icon:active::after {
  background-color: var(--color--main--4);
  border: 2px solid var(--color--main--3);
}
.ui-accordion-header-active .accordeon__icon {
  transform: rotate(180deg);
}
.ui-accordion-header-active .accordeon__icon::before {
  transform: rotate(-45deg) translate(0px, -1px);
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}
.ui-accordion .ui-accordion-content {
  height: 342px;
  padding: 1.2rem 0px 0rem 0rem;
}
.catalog-accordeon-choices__list {
  display: none;
  height: 320px;
  padding: .0625rem 0px 1rem 0rem;
  overflow: auto;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap
}
.catalog-accordeon-choices__list--active {
  display: flex;
}
.catalog-accordeon-choices__item {
  width: calc(96.6% / 3);
}
.catalog-accordeon-choices__item-btn {
  padding: 12px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid transparent;
  color: var(--color--text);
  transition-property: color, border-color;
  transition-duration:  0.2s;
  transition-timing-function:  ease-in-out;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.catalog-accordeon-choices__item-btn:hover {
  color: var(--color--main--1);
  border-bottom: 1px solid var(--color--main--1);
}
.catalog-accordeon-choices__item-btn:focus {
  outline: none;
  color: var(--color--main--1);
  border-bottom: 1px solid var(--color--main--1);
}
.catalog-accordeon-choices__item-btn:active {
  color: var(--color--main--4);
}
.catalog-accordeon-choices__item-btn--active {
  font-weight: 600;
  color: var(--color--main--1);
}
.catalog-content-author__name {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.catalog-content-author__years-of-life {
  margin-top: 0;
  margin-bottom: .45rem;
  font-weight: normal;
  font-size: var(--font-size--12px);
  line-height: 1rem;
  color: #999999
}
.catalog-content-author__biography {
  margin-top: 0;
}
.events {
  margin-bottom: 5rem;
}
.events__title {
  margin-bottom: 1.0625rem;
}
.events__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.events__item {
  display: block;
  position: relative;
  visibility: hidden;
  min-height: 43.7rem;
  max-width: 31.25%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  flex: 0 0 calc((100% - 50px) / 3);
  flex-direction: column;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration:  0.5s;
  transition-timing-function:  ease-in-out;
}

.events__item:nth-child(n+4) {
  position: absolute;
}
.events__content--active .events__item:nth-child(n+4) {
  position: relative;
}
.events__item:nth-child(-n+3) {
  visibility: visible;
  opacity: 1;
}
.events__item:not(:nth-child(3n)) {
  margin-right: 3.125%;
}
.events__content--active .events__item {
  max-height: 47.3rem;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.events__img {
  width: 100%;
  margin-bottom: 3px;
}
.events__place-info--wrapped {
  display: flex;
  justify-content: flex-end;
}
.events__place-infio li {
  padding-right: 1.1rem;
  font-size: .72rem;
  line-height: 1rem;
  text-align: right;
  letter-spacing: .02rem;
  color: #999999;
}
.events__text-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 55%;
  padding: 0.29rem 2.8rem 0rem 3.125rem;
}
.events__subtitle {
  margin-top: 0;
  margin-bottom: 0.13rem;
  font-weight: 600;
  font-size: var(--font-size--24px);
  line-height: 2.0625rem;
}
.events__event-promo {
  margin-top: 0;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}
.events--event-link {
  position: absolute;
  display: inline-block;
  bottom: 2.6rem;
  width: 5.44rem;
  left: 3.125rem;
  border-bottom: 1px solid var(--color--main--1);
  line-height: 1.65rem;
  transition: text-shadow 0.2s ease-in-out;
}
.events--event-link:hover {
  /* font-weight: bold; */
  text-shadow: 0 0 .65px var(--color--main--1), 0 0 .65px var(--color--main--1);
  color:var(--color--main--1);
}
.events--event-link:active {
  color:var(--color--main--4);
}
.events__btn--wrapped {
  display: flex;
  width: 100%;
}
.events__btn {
  padding: 15px 35px;
  margin: auto;
  right: 1px;
  position: relative;
}
.events__btn:before {
  content: 'Все события';
  font-weight: bold;
  font-size: var(--font-size--18px);
  line-height: 25px;
  color: var(--color--main--4);
}
.events__btn:hover:before {
  color: var(--color--text--1);
}
.events__btn:active:before {
  color: var(--color--text--1);
}
.events__content--active + .events__btn--wrapped .events__btn:before {
  content: 'Скрыть';
}
.editions {
  height: 763px;
  margin-bottom: 5rem;
  padding: 5rem;
  background-image: url(/img/editions/editions_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -8px;
}
.editions__wrap {
  display: flex;
}
.editions-filter {
  width: 25%;
  margin-right: 154px;
}
.editions__title {
  left: -4px;
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  font-weight: normal;
  font-size: 3rem;
  line-height: 65px;
  color: var(--color--text--1);
}
.editions-filter__sub-title {
  margin-bottom: 0.03rem;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color--text--1);
}
.editions-filter__choice:nth-last-child(2) {
  margin-bottom: 1.66rem;
}
.editions-filter__label {
  cursor: pointer;
  color: var(--color--text--1);
}
.editions-filter__price {
  margin-bottom: .5rem;
  color: var(--color--text--1);
}
.editions-filter__input {
  position: absolute;
  left: -9999px;
}
.editions-filter__input + .editions-filter__label > .checkbox-action  {
  height: 10px;
  width: 10px;
  margin-right: .63rem;
  margin-bottom: 1px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.editions-filter__input + .editions-filter__label > .checkbox-action::before,
.editions-filter__input:checked + .editions-filter__label > .checkbox-action::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.editions-filter__input + .editions-filter__label > .checkbox-action::before {
  height: 12px;
  width: 12px;
  border: 1px solid var(--color--text--1);
}
.editions-filter__input:checked + .editions-filter__label > .checkbox-action::after {
  height: 4px;
  width: 4px;
  background-color: var(--color--main--2);
  border: 1px solid var(--color--main--2);
  border-radius: 100%;
}
.editions-filter__input:checked + .editions-filter__label > .checkbox-action::before {
  border: 1px solid var(--color--main--2);
}
.editions-filter__input:checked + .editions-filter__label > .checkbox-action + span {
  color: var(--color--main--2);
}
.editions-filter__input:focus + .editions-filter__label {
  outline: 2px solid var( --color--main--4);
  outline-offset: 5px;
}
.editions-filter__form {
  width: 96%;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.editions-filter__form {
  display: flex;
  color: var(--color--text--1);
}
.editions-filter__input-price {
  padding: 0.2rem 0.6rem;
}
.editions-filter__input-filter {
  padding: 0.5rem 0.5rem;
  width: 73px;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
  font-style: inherit;
  font-size: inherit;
  color: var(--color--text--1);
  caret-color: var(--color--main--3);
}
.editions-filter__input-filter::placeholder {
  font-style: inherit;
  font-size: inherit;
  color: var(--color--text--1);
  opacity: 1;
}
.editions-filter__input-filter:focus::placeholder {
  opacity: 0;
}
.editions-swiper-pagination-wrap {
  width: 150px;
}
.editions-swiper {
  width: 100%;
  padding-top: 25px;
  padding-left: 8px;
  overflow: hidden;
}
.editions-swiper-button {
  position: relative;
  top: 8px;
}
.editions-swiper-button:focus {
  outline: none;
}
.editions-swiper-button::before {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--color--text--1);
  border-left: 1px solid var(--color--text--1);
}
.editions-swiper-button::after {
  background-color:#666666;
  border: 2px solid#666666;
}
.editions-swiper-button:focus::after {
  border: 2px solid var(--color--main--4);
}
.editions-swiper-button:hover::after {
  background-color: var(--color--main--1);
  border: 2px solid var(--color--main--1);
}
.editions-swiper-button:active::after {
  background-color: var(--color--main--4);
  border: 2px solid var(--color--main--3);
}
.editions-swiper-button-prev::before {
  transform: rotate(45deg) translate(2px, -2px);
}
.editions-swiper-button-next::before {
  transform: translate(-2px, 0px) rotate(-135deg);
}
.editions-swiper-pagination--info {
  margin: 1rem 0.9rem;
  color: var(--color--text--1);
}
.editions-swiper .swiper-wrapper {
  padding-top: 1.8rem;
}
.editions-swiper__img {
  height: 390px;
  width: 100%;
  margin-bottom: .449rem;
  object-fit: cover;
}
.editions-swiper .editions-swiper__wrap {
  margin-right: 65px;
}
.editions-swiper-action__btn {
  padding: 5px 19px 9px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color:var(--color--text--1);
}
.editions-swiper-action {
  display: flex;
  height: 30%;
  color: var(--color--text--1);
}
.editions-swiper-action__wrap {
  flex-basis: 100%;
}
.editions-swiper-action__title {
  margin-top: 0;
  margin-bottom: 0;
  color:var(--color--text--1);
}
.editions-swiper-action__author-name {
  margin-top: 0;
  margin-bottom: 1.06rem;
  line-height: 1rem;
  color:var(--color--text--1);
}
.editions-swiper-action__title,
.editions-swiper-action__author-name .editions-swiper-action__price > p {
  max-width: 25ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}
.editions-swiper-action__price {
  flex-shrink: 0;
}
.editions-swiper-action__price p {
  margin-top: 0;
  font-style: italic;
  text-align: right;
  color:var(--color--text--1);
}
.editions-swiper-button:focus {
  outline: none;
}
.editions-swiper-button::after {
  background-color:#666666;
  border: 2px solid#666666;
}
.editions-swiper-button:focus::after {
  border: 2px solid var(--color--main--4);
}
.editions-swiper-button:hover::after {
  background-color: var(--color--main--1);
  border: 2px solid var(--color--main--1);
}
.editions-swiper-button:active::after {
  background-color: var(--color--main--4);
  border: 2px solid var(--color--main--3);
}
.editions-swiper-pagination--info {
  color: var(--color--text--1);
}
.projects {
  position: relative;
  margin-bottom: 5rem;
}
.projects.container {
  padding-left: 0px;
}
.projects__title {
  margin-bottom: 1.1rem;
}
.projects-swiper__info--container {
  max-width: 450px;
}
.projects__text-info {
  padding-left: 3px;
  width: 68%;
  margin-bottom: 1.18rem;
}
.projects__text-info > a {
  font-weight: 600;
}
.projects__sub-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: var(--font-size--24px);
}
.projects-swiper__container {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
}
.projects__swiper {
  position: relative;
  height: 150px;
  width: 90.69%;
  margin: auto;
}
.projects__swiper .swiper-wrapper {
  margin: 0;
  padding-left: 4px;
  width: 100%;
}
.swiper-button-prev,
 .swiper-container-rtl .swiper-button-next {
  left: 3px;
  right: auto;
}
.projects-swiper__buttons-wrap {
  height: 30px;
  width: 30px;
  display: flex;
}
.projects-swiper__buttons-wrap.swiper-button-next {
  right: 3px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.projects-swiper__button:focus {
  outline: none;
}
.projects-swiper__button::before {
  border-bottom: 1px solid var(--color-dark);
  border-left: 1px solid var(--color-dark);
}
.projects-swiper__button:hover::before {
  border-bottom: 1px solid var(--color--text--1);
  border-left: 1px solid var(--color--text--1);
}
.projects-swiper__button::after {
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
}
.projects-swiper__button:focus::after {
  border: 2px solid var(--color--main--4);
}
.projects-swiper__button:hover::after {
  background-color: var(--color--main--1);
  border: 2px solid var(--color--main--1);
}
.projects-swiper__button:active::after {
  background-color: var(--color--main--4);
  border: 2px solid var(--color--main--3);
}
.projects-swiper__button-prev::before {
  transform: rotate(45deg) translate(1px, -1px);
}
.projects-swiper__button-next::before {
  left: 35%;
  transform: rotate(-135deg);
}
.projects__swiper-pagination--info {
  color: var(--color--text);
}
.projects-swiper__partners-link:hover {
  border: none;
  filter: grayscale(0);
}
.projects-swiper__img {
  width: 450px;
  height: 150px;
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
}
.projects-swiper__img:hover {
  filter: grayscale(0);
}
.contactss__title {
  position: relative;
  left: -4px;
  margin-bottom: 1rem;
}
.contactss {
  display: flex;
  height: 700px;
}
.contactss-info {
  display: flex;
  width: 35.5%;
  height: 100%;
  border-top: 1px solid #CACACA;
}
.contactss-info--container {
  margin: 7.66rem auto;
  padding-left: 2rem;
}
.contacts-info__sub-title,
.contacts-info__showroom {
  font-size: var(--font-size--24px);
}
.contacts-info__showroom {
  margin-top: 0;
  margin-bottom: .18rem;
  font-weight: 600;
}
.contacts-info__adress-showroom {
  margin-top: 0;
}
.contacts-info__sub-title {
  margin-top: 0;
  margin-bottom: 1.06rem;
  font-weight: normal;
}
.contacts-info__adress-showroom {
  margin-bottom: 1.72rem;
}
.contacts-info-form {
  max-width: 400px;
}
.contacts-info-form__input {
  width: 400px;
  height: 40px;
  margin-bottom: 1.38rem;
  padding: 0px 24px;
  border: 1px solid var(--color--text);
  border-radius: 100px;
}
.form__button {
  margin-bottom: 2.24rem;
  padding: 1.06rem 2.15rem;
  font-weight: bold;
  font-size: var(--font-size--18px);
  color: var(--color--main--1);
}
.form__button:hover {
  color: var(--color--text--1);
}
.contacts-info-socials {
  display: flex;
}
.contacts-info-socials li:not(:last-child) {
  margin-right: 1.24rem;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
.ymaps-2-1-78-controls__control {
  display: none;
}
.footer {
  padding: 35px 0px;
  background-color: var(--color-dark);
}
.footer__nav-list {
  height: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__item:first-child {
  margin-right: auto;
}
.footer__item:last-child {
  left: -4px;
  position: relative;
}
.footer__links {
  height: 100%;
  padding-top: .56rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.social__link:not(:last-child) {
  margin-right: 10px;
  padding-left: 5px;
}

@media (max-width: 1499px) {
  .ui-accordion .ui-accordion-content {
    min-height: 442px;
  }
  .catalog-accordeon-choices__list {
    height: 400px;
  }
  .catalog-accordeon-choices__item {
    width: calc((100%) / 2);
  }
}

@media (max-width: 1299px) {
  .logo {
    width: 188px;
    height: 42px;
  }
  .header-head-nav__wrap,
  .header-head__login,
  .header-category {
    height: 0;
    display: none;
    opacity: 0;
    transform: translateX(-100vw);
  }
  .header-head-nav__logo {
    margin: auto;
  }
  .header-search-form__input {
    display: none;
  }
  .header-head-nav .header-search-form {
    display: block;
  }
  .header-search-form {
    width: 0;
  }
  .events__item {
    max-width: 44%;
    flex: 0 0 calc((100% - 50px) / 2)
  }
  .events__item:not(:nth-child(3n)) {
    margin-right: 0%;
}
  .events__item:not(:nth-child(2n)) {
    margin-right: 25px;
  }
  .events__item:nth-child(2n) {
    margin-left: 25px;
  }
  .events__item:nth-child(-n+2) {
    visibility: visible;
    opacity: 1;
  }
  .events__item:nth-child(n+3) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .events__content--active .events__item:nth-child(n+3) {
    visibility: visible;
    opacity: 1;
    position: relative;
  }
  .projects-swiper__img {
    max-width: 384px;
    height: 128px
  }
}
@media (max-width: 1023px) {
  .gallery-filter {
    min-width: 280px;
    margin-right: 12px;
  }
  .gallery-swiper {
    height: 80%;
  }
  .gallery-swiper__img {
    max-width: 280px;
    height: 280px;
  }
}
